/* purchase.css */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #eaedf3;
    color: #3d3a3a;
  }
  
  .purchase-container {
    background: transparent; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(206, 213, 3, 0.3);
    max-width: 400px;
    width: 100%;
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #009de0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: #010101;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #009de0;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0078a8;
  }
  
  /* Additional styles can be added based on the specific requirements of your purchase page */
  